.header {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-bottom: .1rem solid $color-grey-light-1;

  &__main {
    display: flex;
    //background-color: $color-primary;
    padding: 2rem 3rem;
    box-shadow: 0 .4rem .8rem rgba($color-black, .15);
  }

  &__image {

    & > img {
      max-width: 8rem;
      height: 8rem;
      border-radius: 50%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);      
    }
  }

  &__content {
    padding: 1rem 2rem;
  }

  &__name {
    color: $color-black;
    margin-bottom: .5rem;
  }

  &__exp {
    color: $color-grey-dark;
  }

  &__contact {
    margin: 1rem 0;

    &--email {
      & > label {
        color: $color-grey-dark-2;
        font-weight: 400;
        text-transform: uppercase; 
        margin-right: 1rem;       
      }
    }

    &--email{
      margin: 1rem 0;
      font-size: 1.2rem;
    }
  }

  &__tech {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    &--img {
      width: 4rem;
      height: 4rem;
    }
  }
}