.nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60rem;
  transition: all .4s;

  &--slideLeft {
    position: fixed;
    transform: translateX(0%);
    background-color: $color-grey-light-2;
    padding: 1rem 1.5rem;
    min-height: 100vh;
    width: 40rem;
    left: 0%;
    margin: 0;

    & .header__main {
      padding: 1rem;
    }
  }
}