.button {
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 1rem;
  text-transform: uppercase;    
  transition: transform .4s;  
  font-size: 1.2rem;
  
  &__linkedin {
    background-color: $color-blue;
    color: $color-white;
    display: inline-block;
  }

  &__link {
    background-color: transparent;
    color: $color-blue;
    border-radius: 0;
    text-transform: none;
    padding: 0;
    font-weight: bold;
    margin-right: 2rem;

    &:hover::after {
      margin-left: 1rem;
    }
  
    &::after {
      content: "\02192";
      margin-left: .5rem;
      transition: margin-left .4s;
    }
  }

  &__back::after {
    content: "";
  }


  &--in {
    text-transform: lowercase;
    font-weight: bold; 
    margin-left: 1rem;
    display: inline;
    font-size: 1.4rem;
  }

  &:hover:not(&__link){
    transform: scale(1.1);
  }

  &__inline {
    display: inline-block;
  }

  &--rounded {
    border-radius: 100rem;
  }
}