.demo {
  box-shadow: 0 .4rem .8rem rgba($color-black, .15);
  padding: 3rem;

  &__header {
    box-shadow: none;
    padding: 0;
  }

  & p {
    margin: 2rem 0;
  }

  &__title {
    color: $color-blue;
    margin-bottom: 3rem;
  }

  &__subtitle {
    color: $color-grey-dark-2;
  }

  &:not(:first-child) {
    margin-top: 3rem;
  }
  
  &__code-repo {
    display: block;
    margin-top: 2rem;
  }
}