.list {
  display: flex;
  flex-direction: column;

  &__item {
    list-style: none;
    padding: 2rem;
    text-align: right;
    display: flex;
    flex-direction: column;

    &--active > a {
      color: $color-select;
    }

    &--main {
      color: $color-grey-dark-2;
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: uppercase;
      & > p {
        padding: 2rem;
        font-size: 1.1rem;
        background-color: $color-white;
      }
    }
  }
}