$color-primary: #ebebeb;
$color-select: #ffb900;
$color-white: #fff;
$color-black: #000;
$color-blue: #3f77ab;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #fdfcfc;
$color-grey-light-3: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;