<section class="demo demo__header">
  <h3 class="demo__title">Professional Timeline</h3>
  <p class="inline-info">latest first</p>
</section>
<div class="timeline">  
  <div class="timeline__item">
    <div class="timeline__dot"></div>
    <div class="timeline__date">JAN 2018 - current</div>
    <div class="timeline__content">
      <p class="bold"><span class="inline-info">Full Stack Development using Node.js and MongoDB</span></p><br>
      <h4 class="timeline__content--title">Break & Learning New Technologies</h4>
      <p class="timeline__content--detail">
        During this period I have learnt new technologies and improved on my core technologies
        such as <br><span class="timeline__highlight">Javascript, ES6, Angular, Docker, Node.js, SCSS, webpack, MongoDB, Hyperledger Fabric, Blockchain</span>
      </p>
    </div>
  </div>
  <div class="timeline__item">
    <div class="timeline__dot"></div>
    <div class="timeline__date">July 2016 - Jan 2018</div>
    <div class="timeline__content">
      <p class="bold"><span class="inline-info">Frontend Development</span></p><br>
      <h4 class="timeline__content--title">TAIS Tech. (Gurugram/Noida)</h4>
      <p class="timeline__content--subtitle">UI Engineer</p>
      <p class="timeline__content--detail">
        Worked on more than 6 Accounts. All were US based e-commerce clients.<br>
        Some of the major accounts I worked on:<br>
        <span class="timeline__highlight">Rue21, Tillys, Ashford, Petmate, Natural Partners(NAP), VitaminShoppe</span>
      </p><br>
      <p class="timeline__content--subtitle">
        Technologies Used
      </p>
      <ul class="timeline__list">
        <li class="timeline__list__item">jQuery</li>
        <li class="timeline__list__item">Javascript</li>
        <li class="timeline__list__item">HTML</li>
        <li class="timeline__list__item">CSS</li>
        <li class="timeline__list__item">Bootstrap</li>
        <li class="timeline__list__item">Foundation</li>
      </ul><br>
      <p class="timeline__content--subtitle">
        Core Responsibilies
      </p>
      <ul class="timeline__list">
        <li class="timeline__list__item">Create new functionalies such as carousels, lazy loading images, modals etc.</li>
        <li class="timeline__list__item">Upgrade websites using Responsive design</li>
        <li class="timeline__list__item">Create new UI elements for seasons</li>
        <li class="timeline__list__item">Enhance existing functionalities</li>
        <li class="timeline__list__item">Solve UI defects</li>
        <li class="timeline__list__item">Help other teams with UI related issues</li>
      </ul>
    </div>
  </div>
  <div class="timeline__item">
    <div class="timeline__dot"></div>
    <div class="timeline__date">Sep 2015 - May 2016</div>
    <div class="timeline__content">
      <p class="bold"><span class="inline-info">Full Stack Development</span></p><br>
      <h4 class="timeline__content--title">WILDFIRE "pre-revenue startup" (Pune)</h4>
      <p class="timeline__content--subtitle">Full Stack Developer</p>
      <p class="timeline__content--detail">
        Created a fully functional dashboard, from scratch, capable of AJAX CRUD operations.
        <span class="inline-info">Wildfire was creating solution ( hardware and software ) to make it easy to install wifi hotspots eliminating the need of technical person to install and setup the hardware.</span>
      </p><br>
      <p class="timeline__content--subtitle">
        Technologies Used
      </p>
      <ul class="timeline__list">
        <li class="timeline__list__item">jQuery</li>
        <li class="timeline__list__item">Javascript</li>
        <li class="timeline__list__item">HTML</li>
        <li class="timeline__list__item">CSS</li>
        <li class="timeline__list__item">Bootstrap</li>
        <li class="timeline__list__item">Python</li>
        <li class="timeline__list__item">Django</li>
        <li class="timeline__list__item">sqlite (for development)</li>
      </ul><br>
      <p class="timeline__content--subtitle">
        Core Responsibilies
      </p>
      <ul class="timeline__list">
        <li class="timeline__list__item">Add/remove/edit devices</li>
        <li class="timeline__list__item">Add/remove/edit service packages</li>
        <li class="timeline__list__item">Add/remove/edit login profiles on each device</li>
        <li class="timeline__list__item">Associate Service packages to login profiles on each device</li>
        <li class="timeline__list__item">provide analytics on usage of devices (API only)</li>
        <li class="timeline__list__item">Backend/Frontend Model design</li>
      </ul>
    </div>
  </div>
  <div class="timeline__item">
    <div class="timeline__dot"></div>
    <div class="timeline__date">Jan 2015 - Sep 2016</div>
    <div class="timeline__content">
      <p class="bold"><span class="inline-info">Mainframe Development</span></p><br>
      <h4 class="timeline__content--title">Zensar Technologies (Pune)</h4>
      <p class="timeline__content--subtitle">Senior Software Engineer</p><br>
      <p class="timeline__content--subtitle">
        Technologies Used
      </p>
      <ul class="timeline__list">
        <li class="timeline__list__item">JCL</li>
        <li class="timeline__list__item">COBOL</li>
        <li class="timeline__list__item">DB2</li>
      </ul>
    </div>
  </div>
  <div class="timeline__item">
    <div class="timeline__dot"></div>
    <div class="timeline__date">Sep 2010 - Dec 2015</div>
    <div class="timeline__content">
      <p class="bold"><span class="inline-info">Mainframe Development</span></p><br>
      <h4 class="timeline__content--title">Mphasis Limited (Mangalore/Chennai/Pune)</h4>
      <p class="timeline__content--subtitle">Trainee Software Engineer / Software Engineer</p><br>
      <p class="timeline__content--subtitle">
        Technologies Used
      </p>
      <ul class="timeline__list">
        <li class="timeline__list__item">JCL</li>
        <li class="timeline__list__item">COBOL</li>
        <li class="timeline__list__item">DB2</li>
        <li class="timeline__list__item">CICS</li>
      </ul>
    </div>
  </div>
</div>