<div class="header__contact" *ngIf="navActive">
  <p>For job openings or freelancing please get in touch:</p>
  <p class="header__contact--email"><label>Email</label> jatinder_0123@ymail.com</p>
  <a class="button button__linkedin button__inline" href="https://www.linkedin.com/in/jatinder87/" target="_blank">
    Jatinder Pal Singh <div class="button--in">in</div>
  </a>
</div>