<div class="cover">
  <section class="cover__section">
    <p>Here are 2 important links that you might be interested in: </p><br>
    <a class="button button__link button__inline" [routerLink]="['/content', 'professional']">My professional timeline</a>
    <a class="button button__link button__inline" [routerLink]="['/content', 'angular']">My work</a>
    <p class="inline-info">
      But i'd suggest please go through the cover.
    </p> 
  </section>

  <section class="cover__section">
    <h4 class="cover__title">purpose</h4>
    <p class="cover__p">
      Scenario; A recruiter downloads my resume from Naukri.com or looks at my linkedIn profile
      and decides to contact me to get more information. During the call I understand that they have not
      been able to make sense out of my resume because it's complicated. And I agree that it is complicated 
      because I switched technologies, after working on IBM Mainframes for 4+ years, to UI technologies.
      <span class="inline-info">
        So here is my effort to gain some trust from recruiters and technical interviewers by showcasing my
        professional timeline and technical skills.
        checkout <a class="button button__link" [routerLink]="['/content', 'professional']">My professional timeline</a>
      </span>
    </p>  
  </section>

  <section class="cover__section">
    <h4 class="cover__title">what am I doing?</h4>
    <p class="cover__p">
      I have been on a break since JAN 2018. Apart from chilling I have been going through a lot of technical
      material to better my skills and learn some new ones which will be helpful at any workplace with newer 
      technology stack like webpack, docker, angular, ES6 etc. 
      <span class="inline-info">
        Also while I was at it I took a deep dive into
        Hyperledger Fabric (Framework to develop permissioned blockchain solutions). <b>However this portfolio is to strictly showcase
        my UI realted skills.</b>
      </span>
    </p>  
  </section>
</div>