<section class="demo demo__header">
  <h3 class="demo__title">HTML & CSS</h3>
</section>

<p class="inline-info">
  Following are some of the UI elements apart from the demonstration in websites
  mentioned in <b>Angular</b> demo section.
</p>