<section class="demo demo__header">
  <h3 class="demo__title">Angular</h3>
</section>
<section class="demo">
  <p class="inline-info">
    This portfolio is made with <span class="timeline__highlight">Angular(v5), Node.js</span>.<br>
  </p>

  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button__link" href="https://bitbucket.org/jatinder-ui/portfolio/src/master/" target="_blank">
      <b>Bitbucket: Portfolio</b>
    </a>
  </p>
</section>

<section class="demo">
  <h3 class="demo__subtitle">Crickcard</h3> 
  <p class="inline-info">
    This is a work in progress but Design and Authentication is complete.<br>
    <b>Authentication</b> is build with <b>Node.js & mongodb</b> and SMS OTP provider is 
    <b><a href="https://2factor.in" target="_blank">2factor</a></b>
  </p> 
  <p class="underline">checkout the website at <a class="button button__link" href="https://crickcard-ui.herokuapp.com/login" target="_blank"><b>crickcard</b></a></p>
  <p class="inline-info">
    skills to lookout for: <span class="timeline__highlight">design, html, css, angular, node.js, mongodb</span>
  </p>
  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button__link" href="https://bitbucket.org/crickcardui/crickcardui/src/master/" target="_blank">
      <b>Bitbucket: Crickcard UI</b>
    </a>
  </p>
</section>

<section class="demo">
  <h3 class="demo__subtitle">4Pics 1word Replica</h3> 
  <p class="inline-info">
    It's a replica of a mobile game called <b>4 Pics 1 Word</b>. In this, one has to guess the word based on 
    4 pics on the screen.
  </p> 
  <p class="underline">checkout the replica at <a class="button button__link" href="https://f4pics1wordreplica.herokuapp.com/" target="_blank"><b>4Pics1Word Replica</b></a></p>
  <p class="inline-info">
    skills to lookout for: <span class="timeline__highlight">html, css, angular</span>
  </p>
  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button__link" href="https://github.com/jassiJP/4pics1wordReplica" target="_blank">
      <b>Github: 4pics1wordReplica</b>
    </a>
  </p>
</section>



