.bold {
  font-weight: 700;
}

.inline-info {
  display: block;
  margin-top: 1rem;
  background-color: $color-grey-light-1;
  padding: 2rem 3rem;
}

.underline {
  border-bottom: 1px solid $color-grey-dark-2;
  display: inline-block;
  padding-bottom: 1rem;
}