<section class="demo demo__header">
  <h3 class="demo__title">Node.js</h3>
</section>

<section class="demo">
  <h3 class="demo__subtitle">Crickcard API</h3> 
  <p class="inline-info">
    This is in extension with Crickard app mentioned in <b>Angular</b> demo section.<br>
    This provides the Node.js API. Authentication is done using SMS OTP. When user provides the OTP a JWT token 
    is created and sent to the client which this API expects in each subsequent request.
  </p> 
  <p class="underline">checkout the website at <a class="button button__link" href="https://crickcard-ui.herokuapp.com/login" target="_blank"><b>crickcard</b></a></p>
  <p class="inline-info">
    skills to lookout for: <span class="timeline__highlight">node.js, mongodb</span>
  </p>
  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button__link" href="https://bitbucket.org/crickcard/crickcard-api/src/master/" target="_blank">
      <b>Bitbucket: Crickcard API</b>
    </a>
  </p>
</section>