<ul class="list">
  <li class="list__item list__item--main">
    <p>timeline</p>
    <ul>
      <li routerLinkActive="list__item--active" class="list__item"><a [routerLink]="['/content', 'professional']" class="button button__link">professional</a></li>
    </ul>
  </li>
  <li class="list__item list__item--main">
    <p>technical demo</p>
    <ul class="list">
      <li routerLinkActive="list__item--active" class="list__item">
        <a [routerLink]="['/content', 'angular']" class="button button__link">Angular</a>
      </li>
      <li routerLinkActive="list__item--active" class="list__item"><a [routerLink]="['/content', 'html-css']" class="button button__link">HTML/CSS</a></li>
      <li routerLinkActive="list__item--active" class="list__item"><a [routerLink]="['/content', 'js']" class="button button__link">Javascript</a></li>
      <li routerLinkActive="list__item--active" class="list__item"><a [routerLink]="['/content', 'nodejs']" class="button button__link">Node.js</a></li>
    </ul>
  </li>
</ul>