<div class="header__main">
  <div class="header__image">
    <img src="/assets/pp.jpg" alt="profile-pic">
  </div>

  <a routerLink="/" class="header__content">
    <h3 class="header__name">Jatinder Pal Singh</h3>
    <p class="header__exp bold">UI Developer</p><span *ngIf="navActive">& part time Hyperledger Fabric Enthusiast</span>
    <p *ngIf="navActive" class="header__exp">7.5 years in Software Development</p>
    <p class="header__exp">3 years in UI Development</p><br>
    <p class="button button__link button__back" *ngIf="!navActive">back to cover</p>
  </a>
</div>

<p class="header__tech" *ngIf="navActive">
  <img class="header__tech--img" src="/assets/js.png" alt="javascript">
  <img class="header__tech--img" src="/assets/angular.png" alt="angular">
  <img class="header__tech--img" src="/assets/css.png" alt="css">
  <img class="header__tech--img" src="/assets/sass.png" alt="sass">
  <img class="header__tech--img" src="/assets/html.png" alt="html">
  <img class="header__tech--img" src="/assets/bootstrap.png" alt="bootstrap">
  <img class="header__tech--img" src="/assets/foundation.jpg" alt="foundation">
  <img class="header__tech--img" src="/assets/docker.png" alt="docker">
  <img class="header__tech--img" src="/assets/webpack.png" alt="webpack">
  <img class="header__tech--img" src="/assets/node.png" alt="node.js">
</p>

<div class="header__contact">
  <app-contact></app-contact>  
</div>